<div class="container-fluid d-flex justify-content-center">
    <div class="container ">
        <div class="div ">
            <h2 class="text-center text-uppercase mb-3 fs-1 fw-bolder mt-5 d-block" style="color: #2c3e50;">conatct section</h2>
           <div class="d-flex justify-content-center align-items-center">
            <div class="line me-3"></div>
            <i class="fa-solid fa-star " style="color: #2c3e50;"></i>
            <div class="line ms-3"></div>
           </div>
        </div>
        <form novalidate="" action="" class="w-50 p-3 mx-auto mt-5"><label for="userName"
                class="position-relative top-0 __top"> </label>
            <input id="userName" type="text" placeholder="userName" name="userName"
                class="mb-5 form-control border-0 border-bottom py-3 position-relative   ">
            <input id="userAge" type="text" placeholder="userAge" name="userName"
                class="my-5 form-control border-0 border-bottom py-3 position-relative   ">
            <input id="userEmail" type="text" placeholder="userEmail" name="userName"
                class="my-5 form-control border-0 border-bottom py-3 position-relative   ">
            <input id="userPassword" type="text" placeholder="userPassword" name="userName"
                class="my-5 form-control border-0 border-bottom py-3 position-relative   ">
            <button class="btn mt-4 text-white" style="background-color: #1abc9c;">send Message</button>
        </form>
    </div>
</div>